mixin casper_input(h3_title, hover_title)
    div(class="card_casper_once")
        div(class="card_header")
            h3= h3_title
        div(class="card_body")
            input(type="text" class="date1" placeholder="21 Авг - 31 Дек")


mixin casper_select(h3_title, hover_title)
    div(class="card_casper_once")
        div(class="card_header")
            h3= h3_title
        div(class="card_body")
            select
                option 3 Гостя, 1 Младенец
                option 2 Гостя, 2 Младенца


mixin casper_range(h3_title, hover_title)
    div(class="card_casper_once")
        div(class="card_header")
            h3= h3_title
            span(class="small-text")= hover_title
        div(class="card_body")
            div(id="slider-range")
            p(class="small-text") Стоимость за сутки пребывания в номере


mixin casper_checkbox(h3_title,hover_title, content)
    div(class="card_casper")
        div(class="card_header")
            h3=h3_title
        div(class="card_body")
            each arr, twin_arr in content
                if (typeof arr['text'] === "undefined")
                    div(class="card_body_cell")
                        input(type="checkbox" id="")
                    div(class="card_body_cell")
                        p= arr['title']
                else
                    div(class="card_body_cell")
                        input(type="checkbox" id="")
                        
                    div(class="card_body_cell")
                        h4= arr['title']
                        p(class="small-text")= arr['text']


mixin casper_dropdown(h3_title,hover_title)
    div()


mixin casper_radiobox(h3_title, hover_title)
    div()